# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Popular Data Science Languages
* Commonly used Data Science Libraries
* Examples of arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy
4. SciPy
5. Vegas

|Data Science Tools|
|---|
|RStudios|
|Python|
|Kubernetes|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic epression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jackson Blake